@tailwind base;
@tailwind components;
@tailwind utilities;


@media (min-width: 768px) {
	.navbarMd {
		background-color: #007D66;
		padding: 1.5rem;
		max-height: 62.5rem;
		width: 80px;
	}

	.ulNavbarMd {
		flex-direction: column;
		gap: 2.5rem;
	}
}